.provider-list li {
  padding: 0 2em;
}
.provider-list li:nth-child(odd){
background-color: var(--accent-color);
color: aliceblue;
}

.provider-list li:first-child {
  border-radius: 5px 5px 0 0;
}

.provider-list li:last-child {
  border-radius: 0 0 5px 5px;
}
