.provider-list {
  width: 70%;
}

.provider-list li {
  padding: 0 2em;
}

.provider-list li:nth-child(odd) {
  background-color: var(--accent-color);
  color: aliceblue;
}

.provider-list li:first-child {
  border: none;
  border-radius: 1em 1em 0 0;
}

.provider-list li:last-child {
  border: none;
  border-radius: 0 0 1em 1em;
}
