html {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}


button {
  background-color: var(--main-color);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

li {
  list-style-type: none;
  display: flex;
  
}

li:hover {
  cursor: pointer;
}

li > button {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

form,
fieldset {
  display: flex;
  flex-direction: column;
}

form {
  align-items: center;
}

nav {
  display: flex;
  text-align: end;
  width: 100%;
  justify-content: flex-end;
}

input {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
}

#root {
  width: 100vw;
  height: 100%;
  --accent-color: #9a97a8;

  --main-color: #302e37
}

fieldset > input {
  width: 200px;
}

input:focus {
  border: 2px solid var(--main-color);
}

input:active {
  border: 2px solid var(--main-color);
}

